$purple: #be95be;
$white: #fff;
$grey: #c6c6c6;
$green: #b3be62;
$blue: #71a3c1;
$dark-blue: rgba(27, 40, 57, 0.7);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: "Orbitron", sans-serif;
}

button, a {
    cursor: pointer;
}